@media (max-width: 90em) {
  .header {
    max-width: 120rem;
  }
  .section-hero {
    max-width: 120rem;
    justify-content: center;
    text-align: center;
  }
  .cols {
    padding: 1.5rem;
  }
  .relative-overfiew {
    /* background-color: red; */
    max-width: 110rem;
    /* padding: 2rem; */
  }
}
